@import '_config.scss';

//$body-background-color: $dark-bg1;
$body-background-color: #fff;

// Panel
$panel-base-color: $dark-bg1;
$panel-body-background-color: $dark-bg1;
$panel-body-border-color: $dark-bg1;
$panel-body-border-style: $dark-bg1;
$panel-body-border-width: $dark-bg1;
$panel-body-color: $dark-bg1;

$panel-header-color: $font-color;
$panel-header-background-color: $dark-bg1;

$panel-header-background-gradient: none;
